html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a, a:visited, a:focus {
  color: inherit;
}

body {
  font-family: 'Libre Baskerville', serif;
  height: 100vh;
  position: relative;
  margin: 0 10%;
  font-size: 5vh;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.info sup {
  font-size: 0.5em;
}

.when {
  font-style: italic;
}

#what {
  font-weight: bold;
}

#logo {
  width: 100%;
  margin-bottom: 2em;
}


footer {
  position: absolute;
  bottom: 3vh;
  border-top: 1px solid black;
  padding-top: 0.4em;
  font-size: 0.3em;
  width: 100%;
}
