.weather-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 30px;
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.weather-wrapper > * {
  margin-top: 1rem;
}
